// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #1E2A5E;
$light_blue: #7C93C3;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #C1D8C3;
$gray: #0E0000;
$light-gray: #F4F4F4;
$colorback : #E2E2B6;
$color1 : #021526;
$color2 : #03346E;
$color3 : #6EACDA;
$color4 : #FCB900;









