<p style="color: green"><%= notice %></p>

<div class="container-sm mt-5">
<h1 class="text-primary"><strong>Inflatable games</strong></h1>

<% @gonflables.each do |gonflable| %>

<ul>
<li ><%= link_to gonflable.name, gonflable_path(gonflable), class: "link-dark link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover"%></li>
</ul>

<% end %>
