  <!-- Section principale (Hero) -->
  <div class="hero">
    <h1>Louez un château gonflable<br>en toute simplicité !</h1>
    <a href="http://[::1]:3000/gonflables" class="btn">Louer un gonflable</a>
  </div>
